/* font importing */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* intro */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

:root {
  --AZUL: #1b3c59;
  --CINZA: #b0bfb5;
  --PELE: #f2d5bb;
  --ROSA: #f2a999;
  --PINK: #f28177;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 500px;
  background: var(--PELE);
}

.content {
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

nav {
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-size: 70px;
  color: var(--AZUL);
  cursor: center;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  list-style: none;
  padding: 15px;
  margin-top: 40px;
  font-weight: 600;
  cursor: pointer;
}

nav ul li a {
  color: #2f618d;
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--CINZA);
}

.content .header-block {
  max-width: 1000px;
  min-width: 300px;
  height: 450px;
  background: var(--ROSA);
  border-radius: 8px;
  position: relative;
  z-index: 10;
  padding: 10px;
}

.header-block img {
  width: 35%;
  position: absolute;
  right: 5%;
  bottom: 10%;
}

.header-block .text {
  position: absolute;
  bottom: 30%;
  left: 15%;
}

.header-block .text h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  font-size: 40px;
  color: var(--AZUL);
  margin-bottom: 20px;
  text-align: right;
  transform: translateX(-20px);
}

.header-block .text p {
  font-style: inherit;
  max-width: 280px;
  color: var(--AZUL);
  text-align: right;
  transform: translateX(-20px);
  transition: transform 0.4s;
}

/* Nossos Produtos */

section .catalogo {
  width: 100vw;
  padding: 100px;
}

.titulo-foto-catalogo p {
  text-decoration: inherit;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  color: VAR(--AZUL);
}
.titulo-foto-catalogo {
  margin-top: 200px;
  padding-bottom: 5px;
  text-decoration: inherit;
  font-style: oblique;
  font-size: 20px;
}

section .caixa-foto {
  max-width: 1000px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 30px;
  padding-top: 20px;
}

section .caixa-item {
  height: 400px;
  background: var(--PELE);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.caixa-conteudo {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--AZUL);
}

.caixa-item img {
  width: 70%;
}

.caixa-item h4 {
  width: 90%;
}

.caixa-item p {
  width: 90%;
  font-style: italic;
  color: #00000990;
}

/* Biografia */
section .biografia {
  width: 100vw;
  padding: 100px;
}
.titulo-foto-biografia p {
  padding-bottom: 15px;
  text-decoration: inherit;
  font-style: oblique;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  color: var(--AZUL);
}

.caixa {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 10px;
}

.caixa-coco {
  max-width: 1000px;
  min-width: 300px;
  height: 600px;
  background: var(--PINK);
  margin: 0 auto;
  border-radius: 10px;
  z-index: 10;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.foto {
  width: 25%;
  min-width: 300px;
  height: 90%;
  margin-top: 100px;
  font-style: oblique;
}

.texto {
  width: 70%;
  height: 100%;
  display: flex;
  font-size: 17px;
  font-style: italic;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5%;
}

.texto h3 {
  text-align: center;
  width: 90%;
  margin-bottom: 20px;
  font-style: oblique;
  color: #000000bb;
}

.texto p {
  max-width: 90%;
  text-decoration: inherit;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  text-align: center;
  color: #00000990;
}

/* Features */

.nossosprodutos {
  width: 100%;
  height: 100%;
  background: var(--CINZA);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}

.titulo-novos-outros p {
  text-decoration: inherit;
  font-style: oblique;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  padding: 0px 0px;
  color: var(--AZUL);
}
.titulo-novos-outros h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: inherit;
  font-style: oblique;
  font-size: 35px;
  padding: 0px 0px;
}

.itens-caixa-bloco {
  max-width: 1000px;
  min-width: 300px;
  height: 1000px;
  background: white;
  margin: 0 auto;
  border-radius: 10px;
  z-index: 10;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  grid-gap: 30px;
}

.itens-caixa-item {
  max-width: 420px;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #8b8a8a3b;
  border-radius: 4px;
}

.itens-texto-conteudo {
  max-width: 60%;
  margin: 5px;
  color: var(--AZUL);
}

.itens-texto-conteudo p {
  color: #00000990;
}

.itens-caixa-item img {
  width: 64px;
  height: 64px;
}

/* Rodape */

footer {
  width: 100%;
  height: 250px;
}

footer .rodape {
  width: 100%;
  height: 200px;
  background: var(--AZUL);
  padding: 20px 10px;
}

.footer-links {
  max-width: 1000px;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-compania,
.footer-qualidade,
.footer-contato,
.footer-social {
  color: white;
  line-height: 100%;
  min-height: 100px;
}

.footer-links h4 {
  margin-bottom: 5px;
}

.footer-links {
  margin-bottom: 8px;
}

footer .ultimo {
  width: 100%;
  height: 50px;
  background: var(--ROSA);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social ul {
  display: flex;
  flex-direction: row;
}

.footer-social ul li {
  list-style: none;
  padding: 1px;
  cursor: inherit;
}
.footer-social ul li a {
  color: white;
  text-decoration: none;
}

.footer-social ul li a:hover {
  color: var(--CINZA);
}
